{{>layouts/header}}

<!-- form -->
<form class="container" action="/join" method="post">
    <div class="mb-3">
        <label for="form-label">Email</label>
        <input type="email" class="form-control" name="email">
    </div>
    <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" name="password">
    </div>
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="name" class="form-control" name="name">
    </div>
    <div class="mb-3">
        <label class="form-label">Age</label>
        <input type="age" class="form-control" name="age">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{{>layouts/footer}}
